.button {
    display: inline-block;
    border: none;
    background: none;
    color: #fff;
    border-radius: 12px;
    /*min-width: 120px;*/
    padding: 0 15px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.button:hover {
    opacity: 0.8;
}

.button:disabled {
    background: rgba(114, 108, 108, 0.5);
}
.primary.dark {
    background: #01012e;
}
.secondary.dark {
    background: #023b61;
}

.primary.light {
    background: #2929db;
}
.secondary.light {
    background: #269be7;
}

.sm {
    height: 40px;
}
.md {
    height: 50px;
}
.lg {
    height: 60px;
}